html, body{
    font-family: Noto Sans, sans-serif;
    margin: 0px;
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-box{
    flex-grow: 1;
    background-image: linear-gradient(-90deg, rgba(0,83,129,1) 0%, rgba(61,184,255,1) 100%);

}


.main-components{
    background-color: white;
    width: 1000px;
}


.right-box{
    flex-grow: 1;
    background-image: linear-gradient(90deg, rgba(0,83,129,1) 0%, rgba(61,184,255,1) 100%);
}


.title{
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
    color: #005381;
    padding: 20px;
    margin: 10px 0 0 -8px;
    width: 100%;
}

.game-components{
    background-color: #f9f9f9;
    padding-top: 20px;
    margin: 25px 35px 25px 35px;
    border-radius: 10px;
}

.score-board{
    display: flex;
    justify-content: space-around;
    padding-left: 0;
    list-style: none;
    color: #3e3e3e;
}

.score-components{
    width: 120px;
    text-align: center;
}

.score-category{
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    color: #005381;
}

.score{
    margin-top: 0;
    color: black;
    font-size: 35px;
    font-weight: 340;
    padding-top: 0;
}

.round-results{
    text-align: center;
    padding: 60px;
    font-size: 25px;
    font-weight: 500;
    color: #005381;
}

img{
    border-radius: 50%;
}

.button-group{
    text-align: center;
    justify-content: center;
    margin-top: 16px;
}

button{
    border-radius: 50%;
    border: none; 
    margin: 30px;
    background-color: transparent;
}

.button{
    border: 2px solid transparent;
    margin: 55px;
}

.button:hover{
    padding: 1px;
    border: 1px solid transparent;
    background-color: rgb(0 121 193);
    cursor: pointer;
}

button:focus{
    outline: none;
}

.button:active{
    padding: 0;
    border: 2.5px solid rgba(0, 92, 196, 0.712);
    box-shadow: 0 2px 2px 0 rgba(0, 101, 196, 0.3);
    height: 74px;
    width: 74px;
}

#reset{
    background-color: lightgray;
    border-radius: 0;
}

#reset:focus{
    outline: -webkit-focus-ring-color auto 1px;
}
